html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(100, 1fr);
}

.cell {
	width: 1vw;
	height: 1vh;
}

.alive {
	background: white;
}

.dead {
	background: black;
}
